<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Corsi</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
a {
	margin: 5%;
}
</style>
</head>
<body>
	<h1>Corsi:</h1>
	<div style="border-style: ridge;">
		<a th:href="@{/clients}">Lista Clienti</a>
		<a th:href="@{/teachers}">Lista Insegnanti</a>
		<a th:href="@{/insert_or_update_client}">Inserisci Cliente</a>
		<a th:href="@{/insert_or_update_teacher}">Inserisci Insegnante</a>
		<a th:href="@{/insert_or_update_course}">Inserisci Corso</a>
	</div>
	<div>
		<h3>Filtri:</h3>
		<br>
		<div>
			<label for="filterId">Filtra per id: </label>
	       	<input type="number" name="filterId" min="0">
	       	<button th:onclick="var id=document.getElementsByName('filterId').item(0).value;((id) ? id=id : id='-1');location.href='/course_by_id/' + id;">Filtra</button>
	    </div>
	    <br>
		<div>
			<label for="filterName">Filtra per nome: </label>
	       	<input type="text" name="filterName">
	       	<button onclick="var name=document.getElementsByName('filterName').item(0).value;((name) ? name=name : name='-');location.href='/courses_by_name/' + name;">Filtra</button>
	    </div>
	    <br>
		<div>
			<label for="filterNameContaining">Filtra per nome contenente: </label>
	       	<input type="text" name="filterNameContaining">
	       	<button th:onclick="var nameContaining=document.getElementsByName('filterNameContaining').item(0).value;((nameContaining) ? nameContaining=nameContaining : nameContaining='-');location.href='/courses_by_infix/' + nameContaining;">Filtra</button>
	    </div>
	    <br>
		<div>
			<label for="filterCostGreater">Filtra per costo maggiore di: </label>
	       	<input type="number" min="0" step="0.01" name="filterCostGreater">
	       	<button th:onclick="var cost=document.getElementsByName('filterCostGreater').item(0).value;((cost) ? cost=cost : cost='-1');location.href='/courses_by_cost_greater/' + cost;">Filtra</button>
	    </div>
	    <br>
		<div>
			<label for="filterCostLess">Filtra per costo minore di: </label>
	       	<input type="number" min="0" step="0.01" name="filterCosttLess">
	       	<button th:onclick="var cost=document.getElementsByName('filterCosttLess').item(0).value;((cost) ? cost=cost : cost='-1');location.href='/courses_by_cost_less/' + cost;">Filtra</button>
	    </div>
	    <br>
		<div>
			<label for="filterLower,filterUpper">Filtra per costo compreso fra: </label>
	       	<input type="number" min="0" step="0.01" name="filterLower">
	       	<input type="number" min="0" step="0.01" name="filterUpper">
	       	<button th:onclick="var lower=document.getElementsByName('filterLower').item(0).value;var upper=document.getElementsByName('filterUpper').item(0).value;((lower) ? lower=lower : lower='-1');((upper) ? upper=upper : upper='-1');location.href='/courses_by_cost_between/' + lower + '/' + upper;">Filtra</button>
	    </div>
		<br>
		<div>
			<label for="filterClient">Filtra per id cliente: </label>
	       	<input type="number" name="filterClient" min="0">
	       	<button th:onclick="var id=document.getElementsByName('filterClient').item(0).value;((id) ? id=id : id='-1');location.href='/courses_by_client/' + id;">Filtra</button>
	    </div>
		<br>
		<div>
			<label for="filterTeacher">Filtra per id insegnante: </label>
	       	<input type="number" name="filterTeacher" min="0">
	       	<button th:onclick="var id=document.getElementsByName('filterTeacher').item(0).value;((id) ? id=id : id='-1');location.href='/courses_by_teacher/' + id;">Filtra</button>
	    </div>
		<br>
		<div>
			<label for="filterStartDate">Filtra per data d'inizio precedente a: </label>
	       	<input type="date" name="filterStartDate">
	       	<button th:onclick="var start=document.getElementsByName('filterStartDate').item(0).value;((start) ? start=start : start='-');location.href='/courses_by_startdate/' + start;">Filtra</button>
	    </div>
		<br>
		<div>
			<label for="filterEndDate">Filtra per data di fine successiva a: </label>
	       	<input type="date" name="filterEndDate">
	       	<button th:onclick="var end=document.getElementsByName('filterEndDate').item(0).value;((end) ? end=end : end='-');location.href='/courses_by_enddate/' + end;">Filtra</button>
	    </div>
	</div>
	<hr>
	<div>
		<h2>Risultati:</h2>
		<br>
		<table border="1" style="width:100%;">
			<thead>
				<tr align="center" style="font-weight:bold">
					<td>Id</td>
					<td>Nome</td>
		         	<td>Data d'inizio</td>
		         	<td>Data di fine</td>
		         	<td>Costo</td>
		         	<td>Insegnante</td>
		         	<td>Clienti</td>
		         	<td>Modifica</td>
		         	<td>Elimina</td>
	         	</tr>
			</thead>
		   <tbody>
				<form th:action="@{/insert_or_update_course}" th:object="${course}" method="POST" th:each="course : ${courses}">
					<input type="hidden" name="id" th:value="*{id}" />
					<tr>
				        <td th:text="*{id}"></td>
				        <td th:text="*{name}"></td>
				        <td th:text="*{startDate}"></td>
				        <td th:text="*{endDate}"></td>
				        <td th:text="${#numbers.formatDecimal(course.cost, 0, 'COMMA', 2, 'POINT')} + ' €'"></td>
				        <td th:if="${course?.teacher}" th:text="*{teacher.name} + ' ' + *{teacher.surname}"></td>
				        <td th:unless="${course?.teacher}"></td>
				        <td >
				        	<ul th:if="${course?.clients}">
				        		<li th:each="client : *{clients}" th:text="${client.name} + ' ' + ${client.surname}">
				        	</ul>
				        </td>
				        <td><button type="submit">Modifica</button></td>
						<td><button type="submit" th:formaction="@{/delete_course}">Elimina</button></td>
					</tr>
         		</form>
		   <tbody>
		</table>
	</div>
</body>
</html>