<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Assgnment3 - GymManager</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Assgnment3 - GymManager</h1>
	<a th:href="@{/clients}">Lista Clienti</a><br/>
	<a th:href="@{/teachers}">Lista Insegnanti</a><br/>
	<a th:href="@{/courses}">Lista Corsi</a><br/>
	<a th:href="@{/insert_or_update_client}">Inserisci Cliente</a><br/>
	<a th:href="@{/insert_or_update_teacher}">Inserisci Insegnante</a><br/>
	<a th:href="@{/insert_or_update_course}">Inserisci Corso</a>
</body>
</html>