<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Inserimento/Modifica corso</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
a {
	margin: 5%;
}
</style>
</head>
<body>
	<h1>Inserimento/Modifica corso</h1>
	<div style="border-style: ridge;">
		<a th:href="@{/clients}">Lista Clienti</a>
		<a th:href="@{/teachers}">Lista Insegnanti</a>
		<a th:href="@{/courses}">Lista Corsi</a>
		<a th:href="@{/insert_or_update_client}">Inserisci Cliente</a>
		<a th:href="@{/insert_or_update_teacher}">Inserisci Insegnante</a>
	</div>
	<div>
		<form th:action="@{/save_course}" th:object="${course}" method="POST">
			<label for="name">Nome: </label>
          	<input type="text" th:field="*{name}" required="required">
          	<br>
			<label for="startDate">Data d'inizio: </label>
          	<input type="date" th:field="*{startDate}" required="required">
          	<br>
			<label for="endDate">Data di fine: </label>
          	<input type="date" th:field="*{endDate}" required="required">
          	<br>
			<label for="cost">Costo: </label>
          	<input type="number" th:field="*{cost}" step="0.01" min="0" required="required">
          	<br>
			<label for="teacher">Insegnante: </label>
          	<select th:field="${course.teacher}">
			    <option value="">Nessuno</option>
			    <option th:if="${course.teacher}" th:value="${course.teacher.id}" 
			    th:text="${course.teacher.name} + ' ' + ${course.teacher.surname}" selected></option>
			    <option th:each="teacher : ${teachers}" 
			    th:value="${teacher.id}" th:text="${teacher.name} + ' ' + ${teacher.surname}"></option>
		    </select>
		    <br>
          	<input type="hidden" th:field="*{id}">
          	<input type="submit" value="Invia" />
       	</form>
	</div>
</body>
</html>