<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Inserimento/Modifica cliente</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
a {
	margin: 5%;
}
</style>
</head>
<body>
	<h1>Inserimento/Modifica cliente</h1>
	<div style="border-style: ridge;">
		<a th:href="@{/clients}">Lista Clienti</a>
		<a th:href="@{/teachers}">Lista Insegnanti</a>
		<a th:href="@{/courses}">Lista Corsi</a>
		<a th:href="@{/insert_or_update_teacher}">Inserisci Insegnante</a>
		<a th:href="@{/insert_or_update_course}">Inserisci Corso</a>
	</div>
	<div>
		<form th:action="@{/save_client}" th:object="${client}" method="POST">
			<label for="name">Nome: </label>
          	<input type="text" th:field="*{name}" required="required">
          	<br>
			<label for="surname">Cognome: </label>
          	<input type="text" th:field="*{surname}" required="required">
          	<br>
			<label for="email">E-mail: </label>
          	<input type="email" th:field="*{email}">
          	<br>
			<label for="phone">Telefono: </label>
          	<input type="tel" th:field="*{phone}">
          	<br>
			<label for="address">Indirizzo: </label>
          	<input type="text" th:field="*{address}" required="required">
          	<br>
			<label for="city">Città: </label>
          	<input type="text" th:field="*{city}" required="required">
          	<br>
			<label for="birthday">Compleanno: </label>
          	<input type="date" th:field="*{birthday}" required="required">
          	<br>
			<label for="childOf">Figlio di: </label>
          	<select th:field="${client.childOf}">
			    <option value="">Nessuno</option>
			    <option th:each="parent : ${parents}" th:value="${parent.id}" th:text="${parent.name} + ' ' + ${parent.surname}"></option>
		    </select>
          	<br>
			<label for="citizenship">Cittadinanza: </label>
          	<input type="text" th:field="*{citizenship}" required="required">
          	<br>
		    <input type="checkbox" th:field="${client.enrollments}" th:each="course : ${client.enrollments}" th:value="${course.id}" th:text="${course.name}" checked>
		    <input type="checkbox" th:field="${client.enrollments}" th:each="other_course : ${other_courses}" th:value="${other_course.id}" th:text="${other_course.name}">
          	<br>
          	<input type="hidden" th:field="*{id}">
          	<input type="submit" value="Invia" />
       	</form>
	</div>
</body>
</html>