<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insegnanti</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
a {
	margin: 5%;
}
</style>
</head>
<body>
	<h1>Insegnanti</h1>
	<div style="border-style: ridge;">
		<a th:href="@{/clients}">Lista Clienti</a>
		<a th:href="@{/courses}">Lista Corsi</a>
		<a th:href="@{/insert_or_update_client}">Inserisci Cliente</a>
		<a th:href="@{/insert_or_update_teacher}">Inserisci Insegnante</a>
		<a th:href="@{/insert_or_update_course}">Inserisci Corso</a>
	</div>
	<div>
		<h3>Filtri</h3>
		<br>
		<div>
			<label for="filterId">Filtra per id: </label>
	       	<input type="number" name="filterId" min="0">
	       	<button th:onclick="var id=document.getElementsByName('filterId').item(0).value;((id) ? id=id : id='-1');location.href='/teacher_by_id/' + id;">Filtra</button>
	    </div>
	    <br>
		<div>
			<label for="filterName,filterSurname">Filtra per nome: </label>
	       	<input type="text" name="filterName">
	       	<input type="text" name="filterSurname">
	       	<button onclick="var name=document.getElementsByName('filterName').item(0).value;var surname=document.getElementsByName('filterSurname').item(0).value;((name) ? name=name : name='-');((surname) ? surname=surname : surname='-');location.href='/teachers_by_name/' + name + '/' + surname;">Filtra</button>
	    </div>
	    <br>
		<div>
			<label for="filterQualification">Filtra per qualificazione: </label>
	       	<input type="text" name="filterQualification">
	       	<button th:onclick="var qualification=document.getElementsByName('filterQualification').item(0).value;((qualification) ? qualification=qualification : qualification='-');location.href='/teachers_by_qualification/' + qualification;">Filtra</button>
	    </div>
	</div>
	<hr>
	<div>
		<h2>Risultati</h2>
		<br>
		<table border="1" style="width:100%;">
			<thead>
				<tr align="center" style="font-weight:bold">
					<td>Id</td>
					<td>Nome</td>
		         	<td>Cognome</td>
		         	<td>E-mail</td>
		         	<td>Telefono</td>
		         	<td>Indirizzo</td>
		         	<td>Città</td>
		         	<td>Compleanno</td>
		         	<td>Qualificazione</td>
		         	<td>Modifica</td>
		         	<td>Elimina</td>
	         	</tr>
			</thead>
		   <tbody>
				<form th:action="@{/insert_or_update_teacher}" th:object="${teacher}" method="POST" th:each="teacher : ${teachers}">
					<input type="hidden" name="id" th:value="*{id}" />
					<tr>
				        <td th:text="*{id}"></td>
				        <td th:text="*{name}"></td>
				        <td th:text="*{surname}"></td>
				        <td th:text="${teacher?.email}">
				        <td th:text="${teacher?.phone}"></td>
				        <td th:text="*{address}"></td>
				        <td th:text="*{city}"></td>
						<td th:text="*{birthday}"></td>
				        <td th:text="*{qualification}"></td>
						<td><button type="submit">Modifica</button></td>
						<td><button type="submit" th:formaction="@{/delete_teacher}">Elimina</button></td>
					</tr>
         		</form>
		   <tbody>
		</table>
	</div>
</body>
</html>